*, *:before, *:after {
  /* border: 1px black dashed; */
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Montserrat';
  /* border: 1px dashed black; */
}

body {
  background-color: #F3EAE3;
  height: 100vh;
  /* outline: red solid 10px; */
}

section {
  height: 480px;
  max-width: 640px;
  margin: auto;
  display: flex;
  margin-top: calc((100vh - 480px)/2);
}

article {
  background-color: white;
}

article > * {
  margin: 32px;
}

.spacer {
  height: calc((100vh - 480px)/2);
}

.attribution {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

img {
  height: 100%;
  width: 320px;
}

h1, h2 {
  font-family: 'Fraunces';
}

.price {
  font-family: 'Fraunces';
}