*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Montserrat';
  /* border: 1px dashed black; */
}

body {
  background-color: #F3EAE3;
  height: calc(100vh - (100vh - 480px) / 2);
}

section {
  height: 480px;
  max-width: 640px;
  display: flex;
  margin-top: calc((100vh - 480px)/2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

article {
  background-color: white;
}

article > * {
  margin: 32px;
}

.spacer {
  height: calc((100vh - 480px)/2);
}

.attribution {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

img {
  height: 100%;
  width: 320px;
}

h1, h2 {
  font-family: 'Fraunces';
}

.price {
  font-family: 'Fraunces';
}